.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


body {
  display: flex;
  width: auto;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-space {
  background-image: url(/public/dust-top-right.bcc932ca.png), url(/public/dust-btm-left.28ba3476.png), linear-gradient(180deg, #000113 0%, #0E0D2E 100%);
  background-size: auto, auto, 100%;
  background-repeat: no-repeat;
  background-position: right top, bottom left;
}